{% extends "base.html" %}
{% load humanize %}

{% block heading %}{% if usr %}{{ usr }} | User {% endif %}Contribution{% endblock %}
{% block title %}{% if usr %}{{ usr }} | User {% endif %}Contribution{% endblock %}

{% block content %}
    <style>
        table[summary="Legends"] {
            display: none
        }

        .diff_next {
            display: none
        }
    </style>
    {% if not usr %}
        <form method="get" action="#">
            {#            <p>URL: <input type="text" value="{{ path }}" name="path"/></p>#}
            {#            <p>ElemID: <input type="text" value="{{ elementID }}" name="elementID"/></p>#}
            <p><input type="text" placeholder="Search all contributions"
                      value="{% if searchSubmission %}{{ searchSubmission }}{% endif %}"
                      name="searchSubmission"/>
                <input type="submit" name="submit" value="submit"/></p>
        </form>
    {% endif %}
    {% if path or elementID or searchSubmission or usr %}
        <small>
            {% if path %}
                <p>Path: {{ path }}<a href="#"
                                      onclick='window.location.search = jQuery.query.set("path", "None") '> (Clear)</a>
                </p> {% endif %}
            {% if elementID %}<p>ElemID: {{ elementID }}<a href="#"
                                                           onclick='window.location.search = jQuery.query.set("elementID", "None") '>
                (Clear)</a>
            </p>{% endif %}
            {% if searchSubmission %}<p>Search: {{ searchSubmission }}<a href="#"
                                                                         onclick='window.location.search = jQuery.query.set("searchSubmission", "None") '>
                (Clear)</a>
            </p> {% endif %}

            {% if usr %}<p>User: <a href="/Profile?usr={{ usr }}">{{ usr }}</a><a href="#"
                                                                                      onclick='window.location.search = jQuery.query.set("usr", "None") '>
                (Clear)</a>
            </p> {% endif %}
        </small>
    {% endif %}

    {% if object_list %}
        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-center">
                {% if page_obj.has_previous %}
                    <li class="page-item"><a class="page-link" href="?page=1{{ paginationTrail }}"> First</a></li>
                    <li class="page-item">
                    <a class="page-link" href="?page={{ page_obj.previous_page_number }}{{ paginationTrail }}"> <<
                        Previous</a>

                {% endif %} </li>

                <li class="page-item"><a class="page-link"> Page {{ page_obj.number }}
                    of {{ page_obj.paginator.num_pages }}.
                </a></li>


                {% if page_obj.has_next %}
                    <li class="page-item"><a class="page-link"
                                             href="?page={{ page_obj.next_page_number }}{{ paginationTrail }}">Next
                        >> </a>
                    <li class="page-item">
                    <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}{{ paginationTrail }}">Last </a>

                {% endif %}
            </ul>
        </nav>



        {% for each in object_list %}

            <div class="card">
                <div class="card-body">
                    <a href="{% url 'Contribution_detail' each.pk %}"><h5 class="card-title">#{{ each.id }}</h5></a>
                    {{ each.getDifference |safe }}
                    {#                <p class="card-text">{{ each.Submission }}</p>#}
                    <br>
                    <p class="card-text"><b>Path: </b> <input size="10" type="text" value="{{ each.EditURL }}">
                        <span class="card-text"><b>                     <a href="/?navigateToPage={{ each.EditURL }}"
                                                                           class="btn btn-sm btn-primary">Go To Page</a> <a
                                href="/Contribution/?path={{ each.EditURL }}" class="btn btn-sm btn-primary">All Edits on Page</a>

                            &nbsp;
                            &nbsp;
                            ElemID: </b> <input size="10" type="text" value="{{ each.EditxPath }}">
                        <a href="/Contribution/?elementID={{ each.EditxPath }}"
                           class="btn btn-sm btn-primary">All Edits in this ID</a>
                            {% if user.is_authenticated %}
                                <a href="/?navigateToPage={{ each.EditURL }}&navigateToID={{ each.EditxPath }}"
                                   class="btn btn-sm btn-primary"><img
                                        src="https://img.icons8.com/material-outlined/24/000000/edit--v1.png"/></a>
                            {% endif %}
                        </span></p>
                    <p class="card-text"><b></b>{{ each.created|naturaltime }} by <a
                            href="/Profile?usr={{ each.User.username }}"> {{ each.User }} </a></p>
                </div>
            </div>



            {#            <div>#}
            {#            <p>   {{ each.Submission }}</p>#}
            {#            <p>   {{ each.EditxPath }}</p>#}
            {#            <p>   {{ each.EditURL }}</p>#}
            {#            <p>   {{ each.User__username }}</p>#}
            {#            <p>   {{ each.User__username }}</p>#}
            {#            <p>   Latest of {{ each.TotalEditsOnThisPage.count }} edits</p>#}
            {#            </div>#}
        {% endfor %}

    {% else %}
        No Any Edits Found

        </a>
    {% endif %}
    <hr>
    {% if  path %}
        <a href="/{% if  path %}?navigateToPage={{ path }}{% else %}{% endif %}">
            <button type="button" class="btn btn-warning">Start Contributing</button>
        </a>
    {% endif %}



{% endblock %}
