{% extends "base.html" %}
{% load call_method %}
{% load static %}{% load humanize %}
{% block content %}
    <div class="overflow-auto">
        <p>
            <a class="btn btn-light" href="{% url 'Contribution_list' %}">
                Contribution Listing
            </a>
        </p>

        <table class="table">
            <tr>
                <td>created</td>
                <td>{{ object.created|naturaltime }}</td>
            </tr>
            <tr>
                <td>User</td>
                <td><a href="/Profile?user={{ object.User.id }}">{{ object.User }}</a></td>
            </tr>
            <tr>
                <td>Diff</td>
            <td>
                <div class="row">
                    <div class="col-2">
                        <div id="vote{{ object.id }}" class="upvote">
                            <a id="upvote{{ object.id }}" class="upvote"></a>
                            <span class="count" id="count{{ object.id }}">{{ object.countVote.T }}</span>
                            <a id="downvote{{ object.id }}" class="downvote"></a>
                            <span class="small"
                                  id="voteText{{ object.id }}"> +{{ object.countVote.U }}, -{{ object.countVote.D }}</span>
                        </div>

                        <script>
                            setTimeout(function () {

                                {% if  user.is_authenticated %}
                                    switch ("{% call_method object 'countVote' request.user %}") {
                                        case "D":
                                            // code block
                                            $('#downvote{{ object.id }}').css("background-color", "yellow");
                                            $('#upvote{{ object.id }}').css("background-color", "");
                                            break;
                                        case "U":
                                            // code block
                                            $('#upvote{{ object.id }}').css("background-color", "yellow");
                                            $('#downvote{{ object.id }}').css("background-color", "");
                                            break;
                                        default:
                                            $('#upvote{{ object.id }}').css("background-color", "");
                                            $('#downvote{{ object.id }}').css("background-color", "");

                                        // code block
                                    }
                                    $('#vote{{ object.id }}').upvote({count:{{ object.countVote.T }}});
                                {% endif %}

                                $('#upvote{{ object.id }}').click(function () {
                                    vote(upvote = true, submissionID ={{ object.id }})
                                })
                                $('#downvote{{ object.id }}').click(function () {
                                    vote(upvote = false, submissionID = {{ object.id }})
                                })

                            }, 0);


                        </script>

                    </div>
                    <div class="col-10">
                        <p>{{ object.getDifference |safe }}</p>
                    </div>
                </div>
            </td>
            <tr>
                <td>Original</td>
                <td>{{ object.Original }}</td>
            </tr>
            <tr>
                <td>Submission</td>
                <td>{{ object.Submission }}</td>
            </tr>
            <tr>
                <td>Path</td>
                <td>{{ object.EditURL }}<br>
                    <a href="/?navigateToPage={{ object.EditURL }}" class="btn btn-sm btn-primary">Go To Page</a> <a
                            href="/contribution/?filter_val={{ object.EditURL }}" class="btn btn-sm btn-primary">All
                        Edits
                        in
                        this Page</a></td>
            </tr>
            <tr>
                <td>ElemID</td>
                <td>{{ object.EditxPath }}<br>
                    <a href="/contribution/?elementID={{ object.EditxPath }}"
                       class="btn btn-sm btn-primary">All Edits in this ID</a>
                    {% if user.is_authenticated %}
                        <a href="/?navigateToPage={{ object.EditURL }}&navigateToID={{ object.EditxPath }}"
                           class="btn btn-sm btn-primary"><img
                                src="https://img.icons8.com/material-outlined/24/000000/edit--v1.png"/>Edit this Element</a>
                    {% endif %}
                </td>
                </td> </tr>


        </table>
    </div>

    <script>
        var idcomments_acct = 'aa88f90a326f37e0b859699a06705825';
        var idcomments_post_id = "{{ object.id  }}";
        var idcomments_post_url;
    </script>
    <span id="IDCommentsPostTitle" style="display:none"></span>
    <script type='text/javascript' src='https://www.intensedebate.com/js/genericCommentWrapperV2.js'></script>


    <script>
        function vote(upvote = true, submissionID) {
            {% if not user.is_authenticated %}
                if (confirm('You need to be logged in to Vote. Login?')) {
                    location.href = '/login'
                } else {
                    return
                }

            {% endif %}

            voteC = "D";
            if (upvote !== false) voteC = "U"


            $.ajax({
                type: "POST",
                url: '/SubmitVote',

                data: {
                    csrfmiddlewaretoken: '{{ csrf_token }}',
                    submissionID: submissionID,
                    vote: voteC
                },
                success: function (data, textStatus, errorThrown) {
                    setTimeout(function () {
                        console.log(data)
                        $("#count" + submissionID).text(data['countVote']['T'])
                        $("#voteText" + submissionID).text("+" + data['countVote']['U'] + ", -" + data['countVote']['D'])

                        switch (data["My"]) {
                            case "D":
                                // code block
                                $('#downvote' + submissionID).css("background-color", "yellow");
                                $('#upvote' + submissionID).css("background-color", "");
                                break;
                            case "U":
                                // code block
                                $('#upvote' + submissionID).css("background-color", "yellow");
                                $('#downvote' + submissionID).css("background-color", "");
                                break;
                            default:
                                $('#upvote' + submissionID).css("background-color", "");
                                $('#downvote' + submissionID).css("background-color", "");
                            // code block
                        }
                    }, 0);
                },

                error: function (jqXHR, textStatus, errorThrown) {
                }
            })
        }
    </script>
{% endblock %}