{% extends "base.html" %}
{% load static %}{% load humanize %}
{% block content %}
    <div class="overflow-auto">
        <p>
            <a class="btn btn-light" href="{% url 'Contribution_list' %}">
                Contribution Listing
            </a>
        </p>

        <table class="table">
            <tr>
                <td>created</td>
                <td>{{ object.created|naturaltime }}</td>
            </tr>
            <tr>
                <td>User</td>
                <td><a href="/Profile?user={{ object.User.id }}">{{ object.User }}</a></td>
            </tr>
            <tr>
                <td>Diff</td>
                <td>{{ object.getDifference |safe }}</td>
            </tr>
            <tr>
                <td>Original</td>
                <td>{{ object.Original }}</td>
            </tr>
            <tr>
                <td>Submission</td>
                <td>{{ object.Submission }}</td>
            </tr>
            <tr>
                <td>Path</td>
                <td>{{ object.EditURL }}<br>
                    <a href="/?navigateToPage={{ object.EditURL }}" class="btn btn-sm btn-primary">Go To Page</a> <a
                            href="/Contribution/?filter_val={{ object.EditURL }}" class="btn btn-sm btn-primary">All
                        Edits
                        in
                        this Page</a></td>
            </tr>
            <tr>
                <td>ElemID</td>
                <td>{{ object.EditxPath }}<br>
                    <a href="/Contribution/?elementID={{ object.EditxPath }}"
                       class="btn btn-sm btn-primary">All Edits in this ID</a>
                    {% if user.is_authenticated %}
                        <a href="/?navigateToPage={{ object.EditURL }}&navigateToID={{ object.EditxPath }}"
                           class="btn btn-sm btn-primary"><img
                                src="https://img.icons8.com/material-outlined/24/000000/edit--v1.png"/>Edit this Element</a>
                    {% endif %}
                </td>
                </td> </tr>


        </table>
    </div>

    <script>
        var idcomments_acct = 'aa88f90a326f37e0b859699a06705825';
        var idcomments_post_id;
        var idcomments_post_url;
    </script>
    <span id="IDCommentsPostTitle" style="display:none"></span>
    <script type='text/javascript' src='https://www.intensedebate.com/js/genericCommentWrapperV2.js'></script>

{% endblock %}