{% load static %}
<html>
<head>
    <title>{% block title %}Home{% endblock %} - CollabTran </title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">CollabTran</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{%  url 'LeaderBoard' %}">LeaderBoard</a>
            </li>
            {% if user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link" href="{%  url 'MyProfile' %}">My Profile</a>
                </li>
            {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'signup' %}">Sign Up</a>
                </li>
            {% endif %}

        </ul>

    </div>
</nav>
<body>
<div id="content" class="container">
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">{% block heading %}Home{% endblock %}</h5>
            <p class="card-text">{% block content %}{% endblock %}</p>
        </div>
    </div>
</div>
{#{% block websocket-Div %}#}
{#    <div class="container mt-3">#}
{#        <div class="card">#}
{#            <div class="card-body">#}
{#                <h5 class="card-title">WebSocket Messages</h5>#}
{#                <p class="card-text"><code id="messages"></code></p>#}
{#            </div>#}
{#        </div>#}
{#    </div>#}
{#{% endblock %}#}
{#{% block websocket-script %}#}
{#    <script>#}
{#        var wsprotocol = window.location.protocol === 'http:' ? 'ws://' : 'wss://'#}
{#        var ws = wsprotocol + window.location.hostname + ':' + window.location.port + '/ws/'#}
{#        var socket = new WebSocket(ws);#}
{##}
{#        socket.onopen = function () {#}
{#            // Web Socket is connected, send some text#}
{#            socket.send("Text from Javascript");#}
{#            // Send some binary data#}
{#            socket.send(new Blob(["Bytes from Javascript"]));#}
{#        };#}
{##}
{#        socket.onmessage = function (evt) {#}
{#            console.log(evt)#}
{#            var received_msg = evt.data;#}
{#            console.log("Message received...", received_msg);#}
{#            var node = document.createElement("div");#}
{#            if (received_msg instanceof Blob) {#}
{#                received_msg.text().then(function (received_text) {#}
{#                    var textnode = document.createTextNode("> " + received_text);#}
{#                    node.appendChild(textnode);#}
{#                    document.getElementById("messages").appendChild(node);#}
{#                })#}
{#            } else {#}
{#                var textnode = document.createTextNode("> " + received_msg);#}
{#                node.appendChild(textnode);#}
{#                document.getElementById("messages").appendChild(node);#}
{#            }#}
{#        };#}
{#    </script>#}
{#{% endblock %}#}
</body>
</html>
