{% load static %}
{#This page is standalone#}
<html>
<head>
    <title>CollabTran- Home</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.6.0.js"
            integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>

</head>

<body>

<style>
    .fill {
        height: 100%;
        min-height: 100%;
    }

    .container-fluid {
        padding-left: 0px;
    }
</style>
<div class="container-fluid">

    <div class="row fill">
        <div class="col-10">
            <iframe id="iframeID" onLoad="IframePageChanged(this.contentWindow.location);"
                    src="{% static 'ioe.edu.np/np/index.htm' %}" frameborder="0"
                    style=" overflow:hidden;height:100%;width:100%" height="100%" width="100%"></iframe>

        </div>
        <div class="col-2 justify-content-center text-center">
            <br>
            {% include "messages.html" %}

            <input type="checkbox" id="languageSwitch" data-toggle="toggle" data-style="ios">
            Show English Version
            <br>
            <br>
            <button id="TranslateThisPage" type="button" class="btn btn-primary">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                     class="bi bi-translate" viewBox="0 0 16 16">
                    <path d="M4.545 6.714 4.11 8H3l1.862-5h1.284L8 8H6.833l-.435-1.286H4.545zm1.634-.736L5.5 3.956h-.049l-.679 2.022H6.18z"></path>
                    <path d="M0 2a2 2 0 0 1 2-2h7a2 2 0 0 1 2 2v3h3a2 2 0 0 1 2 2v7a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2v-3H2a2 2 0 0 1-2-2V2zm2-1a1 1 0 0 0-1 1v7a1 1 0 0 0 1 1h7a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H2zm7.138 9.995c.193.301.402.583.63.846-.748.575-1.673 1.001-2.768 1.292.178.217.451.635.555.867 1.125-.359 2.08-.844 2.886-1.494.777.665 1.739 1.165 2.93 1.472.133-.254.414-.673.629-.89-1.125-.253-2.057-.694-2.82-1.284.681-.747 1.222-1.651 1.621-2.757H14V8h-3v1.047h.765c-.318.844-.74 1.546-1.272 2.13a6.066 6.066 0 0 1-.415-.492 1.988 1.988 0 0 1-.94.31z"></path>
                </svg>
                Translate This Page
            </button>
            <br>
            <br>
            <a href="{% url 'LeaderBoard' %}">
                <button id="LeaderBoard" type="button" class="btn btn-success">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                         class="bi bi-trophy"
                         viewBox="0 0 16 16">
                        <path d="M2.5.5A.5.5 0 0 1 3 0h10a.5.5 0 0 1 .5.5c0 .538-.012 1.05-.034 1.536a3 3 0 1 1-1.133 5.89c-.79 1.865-1.878 2.777-2.833 3.011v2.173l1.425.356c.194.048.377.135.537.255L13.3 15.1a.5.5 0 0 1-.3.9H3a.5.5 0 0 1-.3-.9l1.838-1.379c.16-.12.343-.207.537-.255L6.5 13.11v-2.173c-.955-.234-2.043-1.146-2.833-3.012a3 3 0 1 1-1.132-5.89A33.076 33.076 0 0 1 2.5.5zm.099 2.54a2 2 0 0 0 .72 3.935c-.333-1.05-.588-2.346-.72-3.935zm10.083 3.935a2 2 0 0 0 .72-3.935c-.133 1.59-.388 2.885-.72 3.935zM3.504 1c.007.517.026 1.006.056 1.469.13 2.028.457 3.546.87 4.667C5.294 9.48 6.484 10 7 10a.5.5 0 0 1 .5.5v2.61a1 1 0 0 1-.757.97l-1.426.356a.5.5 0 0 0-.179.085L4.5 15h7l-.638-.479a.501.501 0 0 0-.18-.085l-1.425-.356a1 1 0 0 1-.757-.97V10.5A.5.5 0 0 1 9 10c.516 0 1.706-.52 2.57-2.864.413-1.12.74-2.64.87-4.667.03-.463.049-.952.056-1.469H3.504z"></path>
                    </svg>
                    LeaderBoard
                </button>
            </a>
            <br>
            <br>
            <div>
                {% if user.is_authenticated %}
                    <p>Welcome <a href="{% url 'MyProfile' %}">{{ user.username }}</a> !!!</p>
                    <p><a href="{% url 'logout' %}">Sign Out</a></p>
                {% else %}
                    <a class="nav-link" href="{% url 'login' %}">
                        <button id="LeaderBoard" type="button" class="btn btn-info">
                            Sign In
                        </button>
                        <br>
                        <br>
                        <button id="LeaderBoard" type="button" class="btn btn-info">
                            Sign Up
                        </button>
                        <br>

                    </a>

                {% endif %}
            </div>
        </div>
    </div>
</div>

</body>
</html>

<script>
    $('#languageSwitch').change(function () {
        if (this.checked === true) {
            const currentURlInIFRAME = document.getElementById("iframeID").contentWindow.location.href;
            document.getElementById('iframeID').src = currentURlInIFRAME.replace("/np/", "/en/");

        } else {
            //not checked case
            const currentURlInIFRAME = document.getElementById("iframeID").contentWindow.location.href;
            document.getElementById('iframeID').src = currentURlInIFRAME.replace("/en/", "/np/");
        }
    });

    function GetPathOfThisPage() {
        document.getElementById('iframeID').src = currentURlInIFRAME
    }

</script>