{% load static %}
{#This page is standalone#}
<html>
<head>
    <title>CollabTran- Home</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/notify/0.4.2/styles/metro/notify-metro.min.css"
          integrity="sha512-PlmS4kms+fh6ewjUlXryYw0t4gfyUBrab9UB0vqOojV26QKvUT9FqBJTRReoIZ7fO8p0W/U9WFSI4MAdI1Zm+A=="
          crossorigin="anonymous" referrerpolicy="no-referrer"/>

    <script src="https://code.jquery.com/jquery-3.6.0.js"
            integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/notify/0.4.2/notify.min.js"
            integrity="sha512-efUTj3HdSPwWJ9gjfGR71X9cvsrthIA78/Fvd/IN+fttQVy7XWkOAXb295j8B3cmm/kFKVxjiNYzKw9IQJHIuQ=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/jsdiff/5.0.0/diff.js"
            integrity="sha512-jaeQJDM6wDsWMgWNRmJ5w7LF1Ttk3lXCAzm0QWJw+pmEndef3y3aB4+sLLT3tZ2Bqu2g/BD+UN3kUhXXVpMQFw=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</head>

<body>

<style>
    .fill {
        height: 100%;
        min-height: 100%;
    }

    .container-fluid {
        padding-left: 0px;
    }


    .glow-effect {
        background-color: #fff;
        box-shadow: 120px 80px 40px 20px #0ff;
        /* in order: x offset, y offset, blur size, spread size, color */
        /* blur size and spread size are optional (they default to 0) */
    }

</style>
<div class="container-fluid">

    <div class="row fill">
        <div class="col-10">
            <iframe id="iframeID" onLoad="IframePageChanged(this.contentWindow.location);"
                    src="{% static 'ioe.edu.np/en/index.htm' %}" frameborder="0"
                    style=" overflow:hidden;height:100%;width:100%" height="100%" width="100%"></iframe>

        </div>
        <div class="col-2 justify-content-center text-center">
            <br>
            {% include "messages.html" %}
            {% block translate %}
                <input type="checkbox" id="languageSwitch" data-toggle="toggle" data-style="ios" checked>
                <span>Show English Version</span>



                <div id="rightPanel-main">
                    <br>
                    <a onclick="ShowTranslatePanel()">
                        <button id="TranslateThisPage" type="button" class="btn btn-primary"
                                {% if not user.is_authenticated %} onclick="location.href = '/login'" {% endif %}
                        >
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                 class="bi bi-translate" viewBox="0 0 16 16">
                                <path d="M4.545 6.714 4.11 8H3l1.862-5h1.284L8 8H6.833l-.435-1.286H4.545zm1.634-.736L5.5 3.956h-.049l-.679 2.022H6.18z"></path>
                                <path d="M0 2a2 2 0 0 1 2-2h7a2 2 0 0 1 2 2v3h3a2 2 0 0 1 2 2v7a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2v-3H2a2 2 0 0 1-2-2V2zm2-1a1 1 0 0 0-1 1v7a1 1 0 0 0 1 1h7a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H2zm7.138 9.995c.193.301.402.583.63.846-.748.575-1.673 1.001-2.768 1.292.178.217.451.635.555.867 1.125-.359 2.08-.844 2.886-1.494.777.665 1.739 1.165 2.93 1.472.133-.254.414-.673.629-.89-1.125-.253-2.057-.694-2.82-1.284.681-.747 1.222-1.651 1.621-2.757H14V8h-3v1.047h.765c-.318.844-.74 1.546-1.272 2.13a6.066 6.066 0 0 1-.415-.492 1.988 1.988 0 0 1-.94.31z"></path>
                            </svg>
                            Translate This Page
                        </button>
                    </a>
                    <br>
                    <br>
                    <a href="{% url 'LeaderBoard' %}">
                        <button id="LeaderBoard" type="button" class="btn btn-success">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                 class="bi bi-trophy"
                                 viewBox="0 0 16 16">
                                <path d="M2.5.5A.5.5 0 0 1 3 0h10a.5.5 0 0 1 .5.5c0 .538-.012 1.05-.034 1.536a3 3 0 1 1-1.133 5.89c-.79 1.865-1.878 2.777-2.833 3.011v2.173l1.425.356c.194.048.377.135.537.255L13.3 15.1a.5.5 0 0 1-.3.9H3a.5.5 0 0 1-.3-.9l1.838-1.379c.16-.12.343-.207.537-.255L6.5 13.11v-2.173c-.955-.234-2.043-1.146-2.833-3.012a3 3 0 1 1-1.132-5.89A33.076 33.076 0 0 1 2.5.5zm.099 2.54a2 2 0 0 0 .72 3.935c-.333-1.05-.588-2.346-.72-3.935zm10.083 3.935a2 2 0 0 0 .72-3.935c-.133 1.59-.388 2.885-.72 3.935zM3.504 1c.007.517.026 1.006.056 1.469.13 2.028.457 3.546.87 4.667C5.294 9.48 6.484 10 7 10a.5.5 0 0 1 .5.5v2.61a1 1 0 0 1-.757.97l-1.426.356a.5.5 0 0 0-.179.085L4.5 15h7l-.638-.479a.501.501 0 0 0-.18-.085l-1.425-.356a1 1 0 0 1-.757-.97V10.5A.5.5 0 0 1 9 10c.516 0 1.706-.52 2.57-2.864.413-1.12.74-2.64.87-4.667.03-.463.049-.952.056-1.469H3.504z"></path>
                            </svg>
                            LeaderBoard
                        </button>
                    </a>
                    <hr>
                    <a href="{% url 'Contribution_list' %}">
                        <button id="Contribution" type="button" class="btn btn-success">
                            <img src="https://img.icons8.com/material-two-tone/24/000000/writer-male.png"/>
                            Contributions
                        </button>
                    </a>
                    <br>
                    <br>
                    <div>
                        {% if user.is_authenticated %}
                            <p>Welcome <a href="{% url 'Profile' %}">{{ user.username }}</a> !!!</p>
                            <p><a href="{% url 'logout' %}">Sign Out</a></p>
                        {% else %}
                            <a class="nav-link" href="{% url 'login' %}">
                                <button id="LeaderBoard" type="button" class="btn btn-info">
                                    Sign In
                                </button>
                                <br>
                                <br>
                                <button id="LeaderBoard" type="button" class="btn btn-info">
                                    Sign Up
                                </button>
                                <br>

                            </a>

                        {% endif %}
                    </div>
                </div>
                <div id="rightPanel-translate" style="display:none">
                    <a href="#" onclick="ShowTranslatePanel()"> ↩ Return Back</a>
                    <br>
                    <br>
                    <div id="translate-list">
                        <p> Right Click any of the text on the page to translate.</p>
                        <p> Total Elements Edited On This Page: <span>` + TotalElementsEditedOnThisPage + `</span>
                        <p> Total Edits On This Page:<span
                        >` + TotalEditsOnThisPage + `</span>
                        </p>

                    </div>
                </div>
            {% endblock %}
        </div>
    </div>

</div>

</body>
</html>

<script>
    $('#languageSwitch').change(function () {

        RepaintIframeWithTranslations(reload = true)
    })

    function GetPathOfThisPage() {
        document.getElementById('iframeID').src = currentURlInIFRAME
    }

    not_first_page = 0;

    function RepaintIframeWithTranslations(reload = false) {
        if (reload) {
            document.getElementById('iframeID').contentWindow.location.reload();
            return
        }

        if ($('#languageSwitch').prop('checked') === false) {
            globalTranslationBucket.forEach(e => {

                if (CheckIfEditXPathExistsInGlobalBucket(e[1].EditxPath) !== "") {

                    try {
                        paths = String(e[1].EditxPath)
                        nodex = getElementByXPath(paths)
                        nodex.textContent = e[1].Submission
                    } catch (err) {
                        alert("Press F12 to Open Developer Console");
                    }


                }
            });
        }
    }

    iFrameReloadRemaining = 1;
    TotalElementsEditedOnThisPage = 0;
    TotalEditsOnThisPage = 0;

    function IframePageChanged(location) {
        {#mousedown, mouseup, click#}

        //click right
        $("#iframeID").contents().on("contextmenu", function (e) {
                iFrameReloadRemaining = 1;

                e.stopPropagation();
                e.preventDefault()
                {% if not user.is_authenticated %}
                    setTimeout(function () {
                        window.location = "/login";
                    }, 3000); /* 1000 = 1 second*/

                    $.notify("You need to login first . . .", {
                        position: "left bottom",
                        autoHideDelay: 1000
                    });
                    return
                {% endif %}


                ShowTranslatePanel(force = true);
                ff = getPathTo(e.target);
                console.log("sushant ", ff)

                handleNewTextElement(e.target, edit = true);


            }
        );

        console.log("IframePageChanged to:" + location)


        traverse($("#iframeID").contents()[0]);


        // now get text nodes data
        $.ajax({
            url: '/resolveURL',
            type: "POST",
            // headers: {"Authorization": "{{ token }}"},

            data: {
                EditURL: document.getElementById('iframeID').contentWindow.location.pathname,
                csrfmiddlewaretoken: '{{ csrf_token }}'
            },
            success: function (data) {
                {#console.log(data);#}
                globalTranslationBucket = Object.entries(JSON.parse(data['data']))
                TotalEditsOnThisPage = data['TotalEditsOnThisPage']
                TotalElementsEditedOnThisPage = data['TotalElementsEditedOnThisPage']


                RepaintIframeWithTranslations(force = iFrameReloadRemaining)
                iFrameReloadRemaining = 0;

                if (not_first_page) {
                    ShowTranslatePanel(force = true);
                } else {
                    not_first_page = 1;

                    $.notify(" Right-click any visible text to start!", {
                        position: "left bottom", className: 'success',
                        autoHideDelay: 5000
                    });
                    $.notify(" 🙏 Welcome to CollabTran!", {
                        position: "left bottom", className: 'notice',
                        autoHideDelay: 5000
                    });
                }

            },

        });
    }

    globalTranslationBucket = []

    function CheckIfEditXPathExistsInGlobalBucket(path, getJustElement = false) {

        matches = globalTranslationBucket.filter(e => e[1].EditxPath === path)
        if (matches.length) {
            if (getJustElement) {
                return matches[0][1]
            }
            return matches[0][1].Submission
        } else return null

    }

    function ShowTranslatePanel(force = false) {
        if ($('#rightPanel-main').is(':visible') || force) {
            $("#rightPanel-main").hide()
            $("#rightPanel-translate").show()
            $("#translate-list")[0].innerHTML = ` <p> Right Click any of the text on the page to translate.</p>
                <p> Total Elements Edited On This Page: <span>` + TotalElementsEditedOnThisPage + `</span>
                <a href="/Contribution/?path=` + document.getElementById('iframeID').contentWindow.location.pathname + `">
                <p> Total Edits On This Page: </a><span>` + TotalEditsOnThisPage + `</span>
                        </p>`


        } else {
            $("#rightPanel-main").show()
            $("#rightPanel-translate").hide()
        }
    }


    //handle clicks inside iframe


    getElementXPath = function (element) {
        if (element && element.id)
            return '//*[@id="' + element.id + '"]';
        else
            return getElementTreeXPath(element);
    };
    getElementTreeXPath = function (element) {
        var paths = [];  // Use nodeName (instead of localName)
        // so namespace prefix is included (if any).
        for (; element && element.nodeType == Node.ELEMENT_NODE;
               element = element.parentNode) {
            var index = 0;
            var hasFollowingSiblings = false;
            for (var sibling = element.previousSibling; sibling;
                 sibling = sibling.previousSibling) {
                // Ignore document type declaration.
                if (sibling.nodeType == Node.DOCUMENT_TYPE_NODE)
                    continue;

                if (sibling.nodeName == element.nodeName)
                    ++index;
            }

            for (var sibling = element.nextSibling;
                 sibling && !hasFollowingSiblings;
                 sibling = sibling.nextSibling) {
                if (sibling.nodeName == element.nodeName)
                    hasFollowingSiblings = true;
            }

            var tagName = (element.prefix ? element.prefix + ":" : "")
                + element.localName;
            var pathIndex = (index || hasFollowingSiblings ? "["
                + (index + 1) + "]" : "");
            paths.splice(0, 0, tagName + pathIndex);
        }

        return paths.length ? "/" + paths.join("/") : null;
    };


    function getPathTo(element) {
        if (element.id !== '')
            return '//*[@id="' + element.id + '"]';
        if (element === document.body)
            return element.tagName;

        var ix = 0;
        var siblings = element.parentNode.childNodes;
        for (var i = 0; i < siblings.length; i++) {
            var sibling = siblings[i];
            if (sibling === element)
                return getPathToFailSafe(getPathTo(element.parentNode) + '/' + element.tagName + '[' + (ix + 1) + ']');
            if (sibling.nodeType === 1 && sibling.tagName === element.tagName)
                ix++;
        }
    }

    function getPathToFailSafe(path) {
        return path.replace('*[@id="undefined"]/', '');
    }

    function getPageXY(element) {
        var x = 0, y = 0;
        while (element) {
            x += element.offsetLeft;
            y += element.offsetTop;
            element = element.offsetParent;
        }
        return [x, y];
    }


    function isExcluded(elm) {
        if (elm.tagName === "STYLE") {
            return true;
        }
        if (elm.tagName === "SCRIPT") {
            return true;
        }
        if (elm.tagName === "NOSCRIPT") {
            return true;
        }
        if (elm.tagName === "IFRAME") {
            return true;
        }
        if (elm.tagName === "OBJECT") {
            return true;
        }
        return false
    }

    function traverse(elm) {
        if (elm.nodeType === Node.ELEMENT_NODE || elm.nodeType === Node.DOCUMENT_NODE) {

            // exclude elements with invisible text nodes
            if (isExcluded(elm)) {
                return
            }

            for (var i = 0; i < elm.childNodes.length; i++) {
                // recursively call to traverse
                traverse(elm.childNodes[i]);
            }

        }

        if (elm.nodeType === Node.TEXT_NODE) {

            // exclude text node consisting of only spaces
            if (elm.nodeValue.trim() === "") {
                return
            }

            // elm.nodeValue here is visible text we need.
            {#console.log(elm.nodeValue);#}

            {#getPathTo(elm)#}
            handleNewTextElement(elm.parentNode);

        }


    }


    getElementByXPath = function (a, test = false) {
        b = $('#iframeID').contents()[0];
        if (test) alert(b, a)
        return b.evaluate(a, b, null, 9, null).singleNodeValue
    }

    nodeLists = []

    function handleNewTextElement(elm, edit = false) {
        console.log(elm.nodeName); // "#text" is only filtered

        console.log("elm type is : " + elm.nodeType);
        console.log("$x('" + getPathTo(elm) + "', $('#iframeID').contents()[0])[0].textContent");
        console.log(getElementByXPath(getPathTo(elm)))

        if (getElementByXPath(getPathTo(elm)) != null) {
            console.log("yes")
            console.log(getPathTo(elm))
            if (edit) {


                if (nodeLists.some((element) => element.isSameNode(elm)))  // Returns true)
                {
                    {#elm.textContent = "Changed"#}
                    $("#translate-list")[0].innerHTML = ""

                    $("#translate-list").append(
                        $('<textarea >', {
                                type: 'text',
                                id: 'translateTextArea',
                                height: "50vh",
                                title: elm.textContent,
                                placeholder: elm.getAttribute("CT_Original"),
                                oldTransData: "" + CheckIfEditXPathExistsInGlobalBucket(getPathTo(elm)),
                                divname: getPathTo(elm),
                                text: CheckIfEditXPathExistsInGlobalBucket(getPathTo(elm)) ? CheckIfEditXPathExistsInGlobalBucket(getPathTo(elm)) : elm.textContent
                            }
                        )
                    );

                    Submission = CheckIfEditXPathExistsInGlobalBucket(getPathTo(elm), getJustElement = 1)


                    $("#translate-list")[0].innerHTML += `<br><br>
                    <button  id="transsubmitbutton" class="" onclick="transsubmitbutton()">
                    Submit
                    </button>
                        <hr>`
                    if (Submission) {
                        $("#translate-list")[0].innerHTML += `
                    <p id="CurrentdivlastEditedBy"> Last edited by: <a href="/Contribution/detail/` + Submission.id + `">` + Submission.User__username + ` </a><p>
                    <p> <small>Edited ` + Submission.TotalEditsOnThisElement + ` times before.</small></p>
                    <p id="CurrentDivID"> Current Element ID:<br><input  size="10" value='` + Submission.EditxPath + `'> <p>
                    `
                    } else {
                        $("#translate-list")[0].innerHTML += `This is the first edit on this element.<hr>`
                    }
                    $("#translate-list")[0].innerHTML += `<p id="CurrentPageID"> Current Page: <input  size="10" value='` + document.getElementById('iframeID').contentWindow.location.pathname + `'><p>`
                } else {
                    console.log("Not Text")
                    $.notify("Text Not Selected", {position: "left bottom", autoHideDelay: 1000});

                }
            } else {
                //add to a global list
                nodeLists.push(getElementByXPath(getPathTo(elm)))
                elm.setAttribute("CT_Original", elm.textContent);

            }

        } else {

        }
    }

    function transsubmitbutton() {

        $('#transsubmitbutton').prop('disabled', true);

        EditURL = document.getElementById('iframeID').contentWindow.location.pathname;
        EditxPath = $("#translateTextArea").attr('divname');
        Submission = "" + $("#translateTextArea").val();
        Placeholder = $("#translateTextArea").attr('placeholder')
        OldTransData = $("#translateTextArea").attr('oldTransData')


        if (Submission === OldTransData) {
            $.notify("No Visible Change to submit.", {
                position: "left bottom", autoHideDelay: 2000, className: 'error',
            });
            $('#transsubmitbutton').prop('disabled', false);
            return
        }


        if (confirm('Are you sure to submit your edit?')) {
            $.notify("Submitting. . .", {
                position: "left bottom", autoHideDelay: 2000, className: 'notice',
            });

            $.ajax({
                type: "POST",
                url: '/SubmitContributions',

                data: {
                    csrfmiddlewaretoken: '{{ csrf_token }}',

                    EditURL: EditURL,
                    EditxPath: EditxPath,
                    Submission: "" + Submission,
                    Original: "" + Placeholder
                },
                success: function (data, textStatus, errorThrown) {

                    $("#translate-list")[0].innerHTML = `Success!
<br><br><input type='submit' value='Ok' onclick="RepaintIframeWithTranslations(force = iFrameReloadRemaining);iFrameReloadRemaining = 0;">
<hr><p> You can Right Click any of the text on the page to continue translating.</p><b>Your changes:</b><hr><div id="displayDiff"></div><hr>`
                    $('#transsubmitbutton').prop('disabled', false);
                    $.notify("Success!", {
                        position: "left bottom", autoHideDelay: 2000, className: 'success',
                    });

                    displayDiff(Submission, OldTransData, divname = "displayDiff")

                },

                error: function (jqXHR, textStatus, errorThrown) {

                    console.log("ajax fail")
                    $('#transsubmitbutton').prop('disabled', false);
                    if (jqXHR.status === 401) {
                        setTimeout(function () {
                            window.location = "/login";
                        }, 3000); /* 1000 = 1 second*/

                        $.notify("Authentication Failed! Please Login. . .", {
                            position: "left bottom",
                            autoHideDelay: 1000
                        });
                    } else if (jqXHR.status === 500) {

                        $.notify("Something Failed! " + jqXHR.responseJSON['errorMessage'], {
                            position: "left bottom",
                            autoHideDelay: 1000
                        });
                        console.log(jqXHR['errorMessage'])
                    } else {
                        $.notify("Some Problem Occurred", {position: "left bottom", autoHideDelay: 2000});
                    }
                    $('#transsubmitbutton').prop('disabled', false);

                }
                ,

            })

        } else {
            $.notify("Submission Cancelled!", {
                position: "left bottom", autoHideDelay: 2000, className: 'alert',
            });
            $('#transsubmitbutton').prop('disabled', false);

        }


    }

    function displayDiff(other, one, divname = "displayDiff") {

        color = '';

        let span = null;

        var diff = Diff.diffWords(one, other),
            display = document.getElementById(divname),
            fragment = document.createDocumentFragment();

        diff.forEach((part) => {
            // green for additions, red for deletions
            // grey for common parts
            const color = part.added ? 'green' :
                part.removed ? 'red' : 'grey';
            span = document.createElement('span');
            span.style.color = color;
            span.appendChild(document
                .createTextNode(part.value));
            fragment.appendChild(span);
        });

        display.appendChild(fragment);
    }

    {%  if navigateToPage %}
        setTimeout(function () {
            document.getElementById('iframeID').contentWindow.location.pathname = "{{ navigateToPage }}"

            {%  if navigateToID %}
                $.notify("Loading element . . ", {
                    position: "left bottom", className: 'notice',
                    autoHideDelay: 3500
                });

                setTimeout(function () {
                    try {
                        handleNewTextElement(getElementByXPath(unescape('{{ navigateToID|safe }}')), edit = true)
                    } catch (e) {
                        console.log("navigateToID failed with: ", e)
                    }
                }, 3000);


            {%  endif %}

        }, 1000);
    {%  endif %}


</script>